<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCase</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <input type="checkbox" id="checkbox-menu">
            <label for="checkbox-menu">
                <ul class="menu touch">
                    <li><a class="logo" href="#">iCase</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Аксессуары для телефонов</a></li>
                    <li><a href="#">Аксессуары для часов</a></li>
                    <li><a href="#">Аксессуары для наушников</a></li>
                    <li><a class="contacts" href="#">Свяжитесь с нами</a></li>
                </ul>
                <span class="toggle">
                    ☰
                </span> 
            </label>
        </nav>
    </header>
    <main>
        <section class="slider">
            <ul id="slides">
                <li class="slide showing">Slide 1</li>
                <li class="slide" >Slide 2</li>
                <li class="slide">Slide 3</li>
                <li class="slide">Slide 4</li>
                <li class="slide">Slide 5</li>
            </ul>
        </section>
        <section class="popular">
            <h2 class="popularTop">
                Пользуются популярностью среди покупателей
            </h2>
            

        </section>
    </main>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>