*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condenset',sans-serif;
}
body, html{
    overflow-x: hidden;
    
}

/* ----------------------------------Стили для навигации------------------ */


@import url('https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Sans:wght@500&family=Noto+Serif&display=swap');

nav{
    margin: auto;
    max-width: 1140px;
    width: 100%;
    text-decoration: none;
    padding: 30px;
    background-color: rgb(0, 0, 0);
}
.menuBase{
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    align-self: center;
    font-size: 15px;
    transition: background .3s linear;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.menu li a {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    color: #D93095;
}
.menu li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menu li a.logo{
    font-size: 26px;
    margin-right: 100px;
}
.menu li a.contacts{
    margin-right: 130px;

}
.menu li a.shopp{
    display: inline;
    min-width: 100px;
    
}
.imgShopping{
    color:#D93095;
    max-width: 30px;
    
}
.imgShopping:hover{
    color: rgb(255, 255, 255);
}

/*------------------------------------ КОНЕЦ НАВИГАЦИИ --------------------------------------------------------------*/

/* -----------------------------------СТИЛИ ДЛЯ ФУТЕРА-------------------------------------------------------------- */
footer{
    background-color: rgb(0, 0, 0);
    display: block;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.footer_p{
    color: aliceblue;
}
.footerContacts{
    display: grid;
    grid-template-rows:auto;  
}
.imgFooter{
    width: 50px;
}