*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condenset',sans-serif;
    text-decoration: none;
    list-style: none;
}
body, html{
    overflow-x: hidden;
    background-image: url(https://img3.goodfon.ru/original/6000x4000/4/dd/abstract-colors-unreal-clouds-1927.jpg);
}

/* ----------------------------------Стили для навигации------------------ */


@import url('https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Sans:wght@500&family=Noto+Serif&display=swap');

nav{
    margin: auto;
    max-width: 1140px;
    width: 100%;
    text-decoration: none;
    padding: 30px;
    background-color: rgb(0, 0, 0);
}
.menuBase{
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    align-self: center;
    font-size: 16px;
    transition: background .3s linear;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.img_shop{
    width: 17px;
}
.menu li a {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menu li a:hover {
    text-decoration: none;
    color: #D93095;
}
.menu li a.logo{
    font-size: 35px;
    margin-right: 100px;
    color: #D93095;
}
.menu li a.contacts{
    margin-right: 130px;

}
.menu li a.shopp{
    display: inline;
    min-width: 100px;
    
}
.imgShopping{
    color:#D93095;
    max-width: 30px;
    
}
.imgShopping:hover{
    color: rgb(255, 255, 255);
}

/*------------------------------------ КОНЕЦ НАВИГАЦИИ --------------------------------------------------------------*/

/* -----------------------------------СТИЛИ ДЛЯ ФУТЕРА-------------------------------------------------------------- */
footer{
    margin: auto;
    max-width: 100vw;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}
.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}
.inner_footer .logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}
.logo_footer{
    font-size: 30px;
    color:#D93095 ;
    height: auto;
    margin-left: 40px;
    
    
}
.inner_footer .footer_third{
    width: calc(21.6666666667%-20px);
    margin-right: 200px;
    float: left;
    height: 100%;
}
.inner_footer .footer_third:last-child{
    margin-right: 0;
    
}
.inner_footer .footer_third h1{
    font-family: 'arial';
    color: white;
    font-size: 22px;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}
.inner_footer .footer_third a{
    font-family: 'arial';
    color: white;
    font-size: 18px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-bottom: 7px;
    margin-left: 40px;
    cursor: pointer;
}
.inner_footer .footer_third a:hover{
    color: #D93095;
}
