<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image_item in product.productimage_set.all %}
                    <img src="{{ image_item.image.url }}" alt="" class="img-fluid">
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <div>
                    <p>
                        Price: {{ product.price }}
                    </p>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                        Description
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                        Delivery
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                        Contact us
                    </a>
                  </li>
                </ul>
                <div class="tab-content product-description-tabs" id="myTabContent">
                  <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                      {{ product.description}}
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      Free worldwide shipping!
                  </div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                      ...
                  </div>
                  <div>
                    <form action="" id="form_buying_product" class="form-inline">
                        <div class="form-group">
                            <input type="number" class="form-control" name="number" id="number">
                        </div>
                        <div class="form-group">
                            <button id="submit_btn" type="submit" class="btn btn-success btn-buy"
                            data-product_id = "{{ product.id }}"
                            data-product_name = "{{ product.name }}"
                            data-product_price="{{ product.price }}"
                            >
                                Buy it now!
                            </button>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}