<!DOCTYPE html>
<html lang="ru">
{% load static %}
{#----------- What in comments with a links - a Bootstrap CDN -----------#}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel='stylesheet' href='{% static 'css/style.css' %}'>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Sans:wght@500&family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>{% block title %} Title! {% endblock title %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="flex-wrap flex-grow-1">
        {% include 'navbar.html' %}
        {% block content %} Here gonna be a content! {% endblock content %}
    </div>
    {% include 'footer.html' %}

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>