{% load static %}
<footer class="footerMain">
  
  <div class="footer">
    <hr size=3px width=1099px color=#000>
    <div class="footerContacts">
      <p class="footer_p">Свяжитесь с нами:
        <div><img class="imgFooter" src="{% static 'img/telegram.png' %}" alt=""></div>
        <div><img class="imgFooter" src="{% static 'img/whtsap.png' %}" alt=""></div>
        <div><img class="imgFooter" src="{% static 'img/insta.png' %}" alt=""></div>
      </p>
    </div>
    <div class="footerMenu">
      <a href="">О нас</a>
      <a href="">Акции</a>
      <a href="">Доставка/Оплата</a>
      <a href="">Помощь</a>
    </div>
    <div class="footerCatalog">
      <a href="">iPhone</a>
      <a href="">Mac</a>
      <a href="">Watsh</a>
      <a href="">iPad</a>
    </div>
    <hr size=1px width=1099px color=#000>
    <div>©2020 iCase-магазин аксесуаров для техники Apple.</div>
  </div>

</footer>