{% load static %}
<footer class="footer">
  <div class="inner_footer">
    <div class="logo_conteiner">
      <a class="logo_footer" href="#">iCase</a>
    </div>
    <div class="footer_third">
      <h1>Остались вопросы?</h1>
      <a href="#">Частые вопросы</a>
      <a href="#">Акции</a>
      <a href="#">Оплата/Доставка</a>
      <a href="#">Контакты</a>
      
    </div>
    <div class="footer_third">
      <h1>Товары для:</h1>
      <a href="#">iPhone</a>
      <a href="#">Watch</a>
      <a href="#">Mac</a>
    </div>
    <div class="footer_third">
      <h1>Наши соцсети:</h1>
      <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
      <li><a href="#"><i class="fa fa-twitter"></i>  Twitter</a></li>
      <li><a href="#"><i class="fa fa-instagram"></i>  Instagram</a></li>
    </div>
  </div>
  <div class="about">
    <span>©2020 iCase магазин аксессуаров.</span>
  </div>
 

</footer>