<!-- <nav class="navbar navbar-expand-md bg-secondary navbar-top">
    Hi there! Still have questions or need help? Call us +865.......
</nav>
<nav class="navbar navbar-expand-md sticky-top navbar-dark navbar-main bg-dark">
  <a class="navbar-brand" href="#">Top navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
{#    <form class="form-inline mt-2 mt-md-0">#}
{#      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    </form>#}
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <div class="basket-container">
                <a class="nav-link" href="#">Cart</a>
                <div class="basket-items d-none">
                    <ul class="">
                        <li>Well</li>
                        <li>Almost</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
  </div>
</nav> -->
{% load static %}
<nav class="menu">
    <ul class="menuBase">
        <li><a class="logo" href="#">iCase</a></li>
        <li><a href="#">О Нас</a></li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Оплата / Доставка</a></li>
        <li><a class="contacts" href="#">Контакты</a></li>
        <li><a class="shopp" href="#">
          <i class="fa fa-shopping-cart img_shop" aria-hidden="true"></i> Корзина</a></li>
        <li><a href="#">Личный Кабинет</a></li>
    </ul>
    
</nav>