{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Title
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="title">Наш магазин скоро откроется!<br>
                    Оставляйте Ваш имейл в форме ниже</h1>
                    <div>
                        <p>{{ form }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
